.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.3s;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
