.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0 0 48px 0;
}

@media screen and (max-width: 800px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 330px;
  }
}

@media screen and (max-width: 380px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 32px 0;
    padding: 0 16px;
  }
}
