.cover__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 648px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
