.cover {
  max-width: 1184px;
  margin: 0 auto;
  position: relative;
  min-height: 740px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 62.5vw;
  }
}

.cover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover:hover::after {
  opacity: 0.8;
}

.cover:before {
  content: "";
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
