.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  position: relative;
}

@media screen and (max-width: 648px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}
