.comments__author {
  font-size: 14px;
  line-height: 1.69;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .comments__author {
    grid-row: 2;
    justify-self: center;
    margin-bottom: 24px;
  }
}
